@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import 'preline/variants.css';


@font-face {
  font-family: "OpenDyslexic";
  src: url("assets/fonts/OpenDyslexic-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic bold";
  src: url("assets/fonts/OpenDyslexic-Bold.woff2") format("woff2");
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.dyslexic{
  font-family: "OpenDyslexic";
}

body {
  padding: 0;
  margin: 0;
}
